.btn {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      font-size: 1.6rem;
      position: relative;
  
      transition: all 0.2s;
    }
  
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  
      &::after {
          transform: scaleX(1.6) scaleY(1.4);
          opacity: 0;
        }
    }
  
    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 5px 10px rgba($color-black, 0.2);
    }
  
    &--white {
      background-color: $color-white;
      color: $color-grey-dark;
  
      &::after {
          background-color: $color-white;
        }
    }
  
    &::after {
      content: "";
      display: inline-block;
      border-radius: 10rem;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
  
    &--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
    }
  }